# Simulation results
*.raw
*.log
*.out
*.err

# Magic extraction files
*.ext
*.sim
*.nodes

# Backup files
*~
*.bak

# Build artifacts
*.o
*.so
dist/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Tools
.tools/
.venv/

# Build Files (Digital)
digital/**/test/__pycache__/
digital/**/test/sim_build/
digital/**/test/results.xml
digital/**/test/*.vcd

digital/**/build/synthesis/netlist/
digital/**/build/synthesis/runs/
